<% include partials/header.ejs %>



<div class="jumbotron">
  <h1>Welcome to GoCamp</h1>
  <p>Your next adventure starts Here</p>
  <p><a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View camps</a></p>
</div>

<% include partials/footer.ejs %>
 